<div class="container p-3 my-3">
  <h1>Applicants</h1>
  <ul>
    <ng-container *ngIf="let item of applicants; index as i; trackBy: trackById">
      <li class="mb-3">
        <div>
          <span>{{ item.name }}</span>
          <span *ngIf="item.showEmail" class="text-danger"> - {{ getEmail(i) }}</span>
        </div>
        &nbsp;
        <button *ngIf="!item.showEmail" type="button" class="btn btn-primary btn-sm" (click)="onDisplayEmailClickk(item, i)">Display Email</button>
      </li>
    </ng-container>
  </ul>
</div>